{{input value=query id="artists"}}

<button type="button" name="button" {{action "addNewArtist"}}>Create New Artist</button>


<ul class='results'>
{{#each results as |artist|}}
  <li class='artist'>
  <span {{action "addArtist" artist}}>{{artist.name}}</span>
  </li>
{{/each}}
</ul>
