{{input value=query id="presenters"}}

<button type="button" name="button" {{action "addNewPresenter"}}>Create New Presenter</button>

<ul class='results'>
{{#each results as |presenter|}}
  <li class='presenter' {{action "addPresenter" presenter}}>
  <span>{{presenter.name}}</span>
  </li>
{{/each}}
</ul>
