{{input value=query id="artists"}}
{{input value=artist.name id="artist"}}

<ul class='results'>
{{#each results as |artist|}}
  <li class='artist'>
  <span {{action "addArtist" artist}}>{{artist.name}}</span>
  </li>
{{/each}}
</ul>
