<div class='login-form'>
    <form {{action 'submit' on='submit'}}>
   <label for="email">Email</label>
   {{input id='email' value=email class="form-control"}}
   <label for="password">Password</label>
   {{input id='password' type='password' value=password class="form-control"}}
   <br>
   <button type="submit" class="btn btn-default">Enter</button>
 </form>
 {{error-display errorMessage=errorMessage}}
 </div>
