body {
  font-family: 'Karla', sans-serif;
  margin: 8px 0;
  color: #222;
  background-color: floralwhite;
}
a {
  color: #222;
}

a:hover {
  color: deeppink;
}
header {
  padding: 0 2%;
  margin-bottom: .5em;
  height: 2.5em;
}
header h1#logo {
  display: inline-block;
  margin: 0;
}
header a {
  text-decoration: none;
}
header nav {
  float: right;
  padding-top: .65em;
  font-weight: 700;
}
header nav a {
  margin-left: 1em;
}
.events.index header nav .events {
  display: none;
}
.events.index header nav .about {
  display: block;
}
header nav .about {
  display: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

form {
  max-width: 800px;
  margin: 0 auto
}

form div {
  position: relative;
  margin: 1em 0;
}
/*form .results {
  display: none;
  position: absolute;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  background-color: #eee;
  z-index: 100;
  border: 1px solid;
  min-width: 10em;
}*/

form .results.active {
  display: block;
}
h1.title {
  font-style: italic;
  font-size: 2.75em;
}
ul.index {
  border-top: 1px solid;
  border-bottom: 1px solid;
}
li.reveal {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1em 2%;
  position: relative;
}
li.reveal.last {
  border-bottom: 1px solid;
}
li.reveal .header {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
li.reveal .header div {
  display: inline-block;
}
li.reveal .header .date {
  min-width: 225px;
}

li.reveal .header .presenter {
  font-style: italic;
  padding-right: 1em;
}

li.reveal.active {
  position: absolute;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  border-top: none;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  cursor: default;
}
li.reveal.active .event.show {
  width: 96%;
  padding: 2%;
}

li.reveal.active .header {
  opacity: 0;
}

li.reveal .toggle-it {
  position: absolute;
  right: 2%;
  font-size: 2em;
  top: 0.15em;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
li.reveal:hover {
  cursor: pointer;
}

li.reveal:hover .toggle-it {
  opacity: 1;
}

li.reveal.active .toggle-it {
  opacity: 1;
  transform: rotate(45deg);
  font-size: 3em;
}

.event.show {
  width: 100%;
}
.event.show .image {
  width: 49.29%;
  display: inline-block;
/*  height: 100vh;*/
  text-align: center;
}
.event.show .image img {
  max-width: 100%;
  height: auto;
  max-height: 90vh;
  width: auto;
  margin: 0 auto;
}

.event.show .info {
  width: 49.29%;
  display: inline-block;
  vertical-align: top;
}
.event.show .info .inner {
  margin: 0 4%;
}
/*ABOUT PAGE */
body.about header {
  z-index: 2000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0.5em;
}
body.about::after {
  content: "";
  background: url('https://s3.amazonaws.com/sump/uploads/foam.jpg');
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: auto 100%;
}


.about .map,
.about .content {
  width: 49.2%;
  display: inline-block;
  margin-top: 5em;
  vertical-align: top;
}
.about .content .inner {
  margin: 0 4%;
}
.about .content .inner .title {
  border-bottom: 2px solid;
  display: inline-block;
}
.about .content .inner .links a {
  text-decoration: none;
  margin-right: 1em;
}
.about .map iframe {
  max-width: 100%;
}

/* ARTISTS INDEX */
ul.artist-index {
  display: flex;
  flex-wrap: wrap;
  padding-left: 2%;
}
ul.artist-index li {
  width: 24%;
}

.filters a {
  text-decoration: none;
  padding-left: 2%;
  font-size: 0.85em;
}

.filters a.date {
  min-width: 225px;
}

h2 {
  padding-left: 2%;
}
