header h1#logo {
  display: inline-block;
  margin: 0;
}

header nav {
  float: right;
}

form {
  max-width: 800px;
  margin: 0 auto
}

form div {
  position: relative;
  margin: 1em 0;
}
form .results {
  display: none;
  position: absolute;
  margin-top: 0;
  padding-left: 0;
  list-style: none;
  background-color: #eee;
  z-index: 100;
  border: 1px solid;
  min-width: 10em;
}

form .results.active {
  display: block;
}