<div class="artist show">
<h4 class="title"><a href="/artists">Artists</a> : {{model.name}}</h4>

  {{list-events model=model.events onFinishArtistCleanUp=(action 'transitionToArtist') onFinishPresenterCleanUp=(action 'transitionToPresenter')}}
</div>