{{outlet}}
<h4 class="title">Artists</h4>
<ul class="artist-index">
  {{#each model as |artist|}}
    <li class="artist">
      <h3>{{link-to artist.name "artists.artist" artist}} <small>({{artist.events.length}})</small></h3>
    </li>
  {{/each}}
</ul>
