{{outlet}}
<h1 class="title">artists</h1>
<ul class="artist-index">
  {{#each model as |artist|}}
    <li class="artist pure-u-sm-1-2 pure-u-lg-1-4">
      <h3>{{link-to artist.name "artists.artist" artist}} <small>({{artist.events.length}})</small></h3>
    </li>
  {{/each}}
</ul>
