{{outlet}}
<h1 class="title">artists</h1>
<ul>
  {{#each model as |artist|}}
    <li>
      <h2>{{link-to artist.name "artists.artist" artist}} <small>({{artist.events.length}})</small></h2>
      <ul class="reveal">
      {{#each artist.events as |event|}}
          <li>{{event.name}}</li>
      {{/each}}
      </ul>
    </li>
  {{/each}}
</ul>
