{{outlet}}
<h4 class="title">Presenters</h4>
<ul class="presenter-index">
  {{#each model as |presenter|}}
    <li class="presenter">
      <h3>{{link-to presenter.name "presenters.presenter" presenter}} <small>({{presenter.events.length}})</small></h3>
    </li>
  {{/each}}
</ul>