{{outlet}}

<div class="edit-actions">
  <button id='edit' {{action 'edit'}}>Edit</button>
  <button id='delete' {{action 'delete'}}>Delete</button>
</div>

{{show-event event=model date=betterDate}}
