{{outlet}}
<h1 class="title">about</h1>
    {{link-to 'Artists' 'artists'}}
    {{link-to 'Presenters' 'presenters'}}
<div class="map">    
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3025.083633894212!2d-73.9045034843668!3d40.69415567933382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25c3adc5a567d%3A0x3574ef8d136e58c!2s1563+Decatur+St%2C+Queens%2C+NY+11385!5e0!3m2!1sen!2sus!4v1466456184977" width="800" height="550" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>